html,
body {
    max-width: 1500px;
    margin: 0 auto;
}

table {
    width: 830px;
    margin: 0 auto;
    border: 3px solid black;
    border-collapse: collapse;
}

.table__string-letters {
    
}

.table__cell-letter {
    border: 1px solid black;
    height: 20px;
}

.table__cell-number {
    border: 1px solid black;
    width: 20px;
    text-align: center;
}

.cell-black {
    background: grey;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
}

.cell-white {
    background: white;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
}